.Page{
  display: inline-block;
}

.Info{
  border: 1px solid;
  margin-left: 640px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 390px;
  background-color: #CFE2F3;
  position: relative;
  padding-bottom: 20px;
  display: inline-block;

}

.Image{
  margin-left: 70%;
  margin-top: 20px;
  background-color: white;
  border: 1px solid;
  position: absolute;
}

#title, #parameters {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 14pt;
  font-family: "Arial";
}

#title{
  font-variant: petite-caps;
  font-weight: bold;
  font-size: 25px;
  width: 60%;
}

.data{
  font-weight: bold;
}

.List{
  border: 1px solid;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  width: 560px;
  background-color: #CFE2F3;
  position: absolute;
  padding-bottom: 20px;
  display: inline-block;
}

.PokemonList {
  border: 1px solid;
  background-color: white;
  margin-left: 25px;
  line-height: 30px;
  width: 240px;
  text-align: center;
  display: inline-grid;
  margin-top: 10px;
  cursor: pointer;
}

.Arrow{
  display: inline;
  border: 1px solid;
  background-color: white;
  padding: 5px;
  cursor: pointer;
}

.Navigation{
  padding: 5px;
  text-align: center;
}

span{
  padding: 10px;
}

.Container{
  height: 450px;
}